

<ul id="mylist">

</ul>

<form id="taskForm">
   
     <div><label>Task input</label>
        <input type="text" id="taskName" />
   </div>
    <div><label>Description</label>
        <input type="text" id="description" />
    </div>
    
    <div><label>Completed</label>
        <input type="checkbox" id="isCompleted" />
    </div>
    <input type="submit" value=" Save Task" />


</form>


<script src="~/todo.js"></script>